/*adding borders to all the images*/
img {
   padding:1px;
   border:1px solid #021a40;
}

/*percentage sizing for old-timey photograph in blogpost*/
#blogimage {
  width:30%;
}

/*making figure captions fade a bit into background*/
figcaption {
  font-family:"Arial", "sans-serif";
  color:#708090;
  font-size:.7rem;
  font-style:italic;
}





/*commenting out rest
img {
  width: 15rem;
}


/*more specific takes precedence*
a {
  text-decoration: none;
}
nav a {
  text-decoration: line-through;
}

/*more recent takes precedence*
p {
  color: magenta;
}
p {
  color: yellow;
}




/*h1 headline hover
h1:hover {
  color: yellow;
}

/* removes underline after clicked
a:visited { 
  text-decoration: none;
}

header {
  text-align: center;
  width: 75%;
  margin: auto;
}

article {
  width: 60%;
  margin: auto;
}

p::first-letter {
  font-size: 1.5em;
}

/*footer has border and curve
footer {
  border: 2px solid magenta;
  border-radius: 25px;
}

/*below is the css no longer being used
/* creating a class called highlight
.highlight {
 color: orange;
}

/*aside elements that have the class of highlight
aside.highlight {
  background-color: black;
}

/*creating an ID called homepage
#homepage {
  width: 80%;
  margin: auto;
  border: 2px solid black;
}

/*pseudo class for hover
a:hover {
    color: red;
    font-size: 2em;
}





/*below is the original css


body {
 background-color: aqua; 
}
h1 {
  color: magenta;
}
p {
  color: gray;
}
<!--two selectors one imbedded-->
aside p {
  color: black:
}
footer a {
  color: red;
}

