/*adding double borders to all the images*/
img {
   padding:1px;
   border:1px solid #021a40;
}

/*percentage sizing for old-timey photograph in blogpost*/
#blogimage {
  width:30%;
}

/*making figure captions fade a bit into background*/
figcaption {
  font-family:"Arial", "sans-serif";
  color:#708090;
  font-size:.7rem;
  font-style:italic;
}

/*Formatting header*/
header {
  text-align:center;
  background-color: #D9D9D9;
  padding:3px; 
  border-radius:7px;
  font-family:"Helvetica", sans-serif;
}

/*Formatting footer*/
footer {
  text-align:center;
  font-family:"Helvetica", sans-serif;
  font-color:#FFFFFF;
  background-color: #333333;
  padding:5px; 
  border-radius:7px;
}

/*formatting link embedded in footer*/
a.footerlink {
  font-size: .8em;
  color: #FFFFFF;
  text-decoration:none;
  
}



/* removes underline from linkafter clicked*/
a:visited { 
  text-decoration: none;
}
